In [2]:
!pip install ipython-sql
import pandas as pd

Requirement already satisfied: ipython-sql in c:\programdata\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: sqlparse in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython>=1.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: prettytable<1 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.4.7)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: backcall in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: setuptools>=18.5 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: traitlets>=4.2 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: pygments in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)

In [3]:
import sqlalchemy

In [4]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://himanshu:dudi@localhost:5432/mydatabase')

In [5]:
 %load_ext sql

In [6]:
%sql sqlite://

In [7]:
%sql sqlite:////Users\him91\Downloads\data.sqlite

In [8]:
%sql select * from international_debt limit 10;

   sqlite://
 * sqlite:////Users\him91\Downloads\data.sqlite
Done.

[('Afghanistan', 'AFG', 'Disbursements on external debt, long-term (DIS, current US$)', 'DT.DIS.DLXF.CD', '72894453.700000003'),
 ('Afghanistan', 'AFG', 'Interest payments on external debt, long-term (INT, current US$)', 'DT.INT.DLXF.CD', '53239440.100000001'),
 ('Afghanistan', 'AFG', 'PPG, bilateral (AMT, current US$)', 'DT.AMT.BLAT.CD', '61739336.899999999'),
 ('Afghanistan', 'AFG', 'PPG, bilateral (DIS, current US$)', 'DT.DIS.BLAT.CD', '49114729.399999999'),
 ('Afghanistan', 'AFG', 'PPG, bilateral (INT, current US$)', 'DT.INT.BLAT.CD', '39903620.100000001'),
 ('Afghanistan', 'AFG', 'PPG, multilateral (AMT, current US$)', 'DT.AMT.MLAT.CD', '39107845'),
 ('Afghanistan', 'AFG', 'PPG, multilateral (DIS, current US$)', 'DT.DIS.MLAT.CD', '23779724.300000001'),
 ('Afghanistan', 'AFG', 'PPG, multilateral (INT, current US$)', 'DT.INT.MLAT.CD', '13335820'),
 ('Afghanistan', 'AFG', 'PPG, official creditors (AMT, current US$)', 'DT.AMT.OFFT.CD', '100847181.900000006'),
 ('Afghanistan', 'AFG', 'PPG, official creditors (DIS, current US$)', 'DT.DIS.OFFT.CD', '72894453.700000003')]

In [9]:
%%sql
SELECT
Count(DISTINCT country_name) AS total_distinct_countries
FROM international_debt;

   sqlite://
 * sqlite:////Users\him91\Downloads\data.sqlite
Done.

[(124,)]

In [10]:
SELECT
Count(DISTINCT country_name) AS total_distinct_countries
FROM international_debt;

SyntaxError: invalid syntax (<ipython-input-10-b7943dbf253b>, line 2)

In [ ]:
%%sql
SELECT
Count(DISTINCT indicator_name) AS distinct_indicators
FROM international_debt
ORDER BY distinct_indicators

In [ ]:
%%sql
SELECT ROUND(SUM(debt)/1000000, 2) AS total_debt 
 
FROM international_debt;

In [11]:
%%sql
SELECT country_name, SUM(debt) AS total_debt
FROM international_debt
GROUP BY country_name
ORDER BY total_debt DESC
LIMIT 1;

   sqlite://
 * sqlite:////Users\him91\Downloads\data.sqlite
Done.

[('China', 285793494734.2)]

In [12]:
%%sql
SELECT 
 indicator_code AS debt_indicator,
 indicator_name,
 AVG(debt) AS average_debt
FROM international_debt
GROUP BY debt_indicator, indicator_name
ORDER BY average_debt DESC
LIMIT 10;

   sqlite://
 * sqlite:////Users\him91\Downloads\data.sqlite
Done.

[('DT.AMT.DLXF.CD', 'Principal repayments on external debt, long-term (AMT, current US$)', 5904868401.499195),
 ('DT.AMT.DPNG.CD', 'Principal repayments on external debt, private nonguaranteed (PNG) (AMT, current US$)', 5161194333.812659),
 ('DT.DIS.DLXF.CD', 'Disbursements on external debt, long-term (DIS, current US$)', 2152041216.8902435),
 ('DT.DIS.OFFT.CD', 'PPG, official creditors (DIS, current US$)', 1958983452.8598356),
 ('DT.AMT.PRVT.CD', 'PPG, private creditors (AMT, current US$)', 1803694101.963265),
 ('DT.INT.DLXF.CD', 'Interest payments on external debt, long-term (INT, current US$)', 1644024067.6508067),
 ('DT.DIS.BLAT.CD', 'PPG, bilateral (DIS, current US$)', 1223139290.39823),
 ('DT.INT.DPNG.CD', 'Interest payments on external debt, private nonguaranteed (PNG) (INT, current US$)', 1220410844.4215188),
 ('DT.AMT.OFFT.CD', 'PPG, official creditors (AMT, current US$)', 1191187963.083064),
 ('DT.AMT.PBND.CD', 'PPG, bonds (AMT, current US$)', 1082623947.6536236)]

In [18]:
%%sql
SELECT country_name, indicator_name, debt
FROM international_debt
WHERE debt= (SELECT MAX(debt)
 FROM international_debt
 WHERE indicator_code ='DT.AMT.DLXF.CD'
 GROUP BY country_name, indicator_code 
 ORDER BY MAX(debt) DESC
 LIMIT 1
            )

   sqlite://
 * sqlite:////Users\him91\Downloads\data.sqlite
Done.

[('Venezuela, RB', 'Principal repayments on external debt, long-term (AMT, current US$)', '9878659207.200000763')]

In [21]:
%%sql
SELECT indicator_code, COUNT(indicator_code) AS indicator_count
FROM international_debt
GROUP BY indicator_code
ORDER BY indicator_count DESC

   sqlite://
 * sqlite:////Users\him91\Downloads\data.sqlite
Done.

[('DT.INT.OFFT.CD', 124),
 ('DT.INT.MLAT.CD', 124),
 ('DT.INT.DLXF.CD', 124),
 ('DT.AMT.OFFT.CD', 124),
 ('DT.AMT.MLAT.CD', 124),
 ('DT.AMT.DLXF.CD', 124),
 ('DT.DIS.DLXF.CD', 123),
 ('DT.INT.BLAT.CD', 122),
 ('DT.DIS.OFFT.CD', 122),
 ('DT.AMT.BLAT.CD', 122),
 ('DT.DIS.MLAT.CD', 120),
 ('DT.DIS.BLAT.CD', 113),
 ('DT.INT.PRVT.CD', 98),
 ('DT.AMT.PRVT.CD', 98),
 ('DT.INT.PCBK.CD', 84),
 ('DT.AMT.PCBK.CD', 84),
 ('DT.INT.DPNG.CD', 79),
 ('DT.AMT.DPNG.CD', 79),
 ('DT.INT.PBND.CD', 69),
 ('DT.AMT.PBND.CD', 69),
 ('DT.INT.PROP.CD', 54),
 ('DT.AMT.PROP.CD', 54),
 ('DT.DIS.PRVT.CD', 53),
 ('DT.DIS.PCBK.CD', 51),
 ('DT.DIS.PROP.CD', 19)]

In [20]:
%%sql
SELECT country_name, indicator_code, MAX(debt) as maximum_debt
FROM international_debt
GROUP by country_name, indicator_code
ORDER BY maximum_debt DESC
LIMIT 10;

   sqlite://
 * sqlite:////Users\him91\Downloads\data.sqlite
Done.

[('Cameroon', 'DT.AMT.BLAT.CD', '9999925153.299999237'),
 ('Samoa', 'DT.AMT.MLAT.CD', '9987486.6'),
 ('Ghana', 'DT.AMT.OFFT.CD', '996094041.799999952'),
 ('Dominican Republic', 'DT.DIS.PROP.CD', '9948901.1'),
 ('Bolivia', 'DT.INT.PRVT.CD', '99194256.900000006'),
 ('Bolivia', 'DT.INT.PBND.CD', '99122000'),
 ('India', 'DT.INT.PRVT.CD', '989848814.200000048'),
 ('Morocco', 'DT.INT.DLXF.CD', '988479361.5'),
 ('Venezuela, RB', 'DT.AMT.DLXF.CD', '9878659207.200000763'),
 ('Timor-Leste', 'DT.DIS.BLAT.CD', '9869907')]